In [4]:
import pandas as pd

In [ ]:
import seaborn as sns

In [6]:
import matplotlib as plt

In [ ]:
import os #importerar os för att enklare kunna navigera i filer och mappar

In [16]:
import openpyxl as op

In [29]:
df = pd.read_excel("data/riket2023_åk9_np.xlsx", header = 8)
df.head(10)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2