### Labb 2 - Pandas och data processing

In [ ]:
#Importerar bibliotek för pandas, matplotlib, seaborn samt openpyxl för att kunna arbeta med datan
import pandas as pd
import matplotlib as mp
import seaborn as sns
import openpyxl as op

In [ ]:
#Läser in excelfilen med dess blad och skriver ut vilka blad som finns i filen
sheets = pd.ExcelFile("data/riket2023_åk9_np.xlsx").sheet_names
print(sheets)

['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk', 'Rapportbeskrivning och def.']

In [123]:
#Skapar en dataframe av bladet Engelska
df_engelska = pd.read_excel("data/riket2023_åk9_np.xlsx", sheet_name = "Engelska", header = 8) #hämtar sheet Engelska
df_engelska.head()

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [126]:

#Ändrar kolumnnamnen i enlighet med uppgiften
df_engelska.columns = [
    "Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", 
    "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", 
    "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"
]
df_engelska

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [ ]:
#Skapar en dataframe av bladet Matematik
df_matematik = pd.read_excel("data/riket2023_åk9_np.xlsx", sheet_name = "Matematik", header = 8) #hämtar sheet Matematik
df_matematik.head()

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [ ]:
#Ändrar kolumnnamnen i enlighet med uppgiften
df_matematik.columns = [
    "Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", 
    "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", 
    "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"
]
df_matematik

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [ ]:
#Skapar en dataframe av bladet Svenska
df_svenska = pd.read_excel("data/riket2023_åk9_np.xlsx", sheet_name = "Svenska", header = 8)  #hämtar sheet Svenska
df_svenska.head(10)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

In [ ]:
#Ändrar kolumnnamnen i enlighet med uppgiften
df_svenska.columns = [
    "Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", 
    "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", 
    "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"
]
df_svenska

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

In [ ]:
#Skapar en dataframe av bladet Svenska som andraspråk(SAS)
df_SAS = pd.read_excel("data/riket2023_åk9_np.xlsx", sheet_name = "Svenska som andraspråk", header = 8)  #hämtar sheet Svenska
df_SAS.head(10)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..

In [ ]:
#Ändrar kolumnnamnen i enlighet med uppgiften
df_SAS.columns = [
    "Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)", 
    "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", 
    "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"
]
df_SAS

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..